:root {
	--title-align: left;
}

.container {
	max-width: 1300px;
	margin-inline: auto;
}

.title {
	text-align: var(--title-align);
}

@media (width <= 1024px) {
	:root {
		--title-align: center;
	}
}
