.container {
	display: flex;
	flex-flow: column;
	max-width: 1300px;
	margin-inline: auto;
}

.list {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
	grid-gap: var(--spacing);
}

.load-trigger {
	display: flex;
	height: var(--font-size-4xl);
	margin-block: var(--spacing);
	place-content: center;
	place-items: center;
	grid-column: 1 / -1;
}

.loading-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-md);
	margin-inline: auto;

	font-size: var(--font-size-3xl);
	font-weight: var(--font-weight-bold);
}

.error {
	color: red;
	text-align: center;
}

.try-again {
	padding: 0.85em 1.065em;

	background-color: var(--color-cta-background);

	border-radius: var(--border-radius-cta);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-border-main);

	font-size: var(--font-size-cta);

	transition: background-color 300ms ease;

	&:hover {
		background-color: var(--color-cta-background-active);
	}
}

.prefetch-target {
	position: absolute;
	bottom: 800px;
	height: 1px;
}

.paging-info {
	display: flex;
	justify-content: center;
	padding-block-start: var(--spacing);
	margin-block-start: var(--spacing);
	gap: var(--spacing-sm);

	border-top-color: var(--color-border-main);
	border-top-width: 1px;
	border-top-style: solid;

	color: var(--color-category);
	font-size: var(--font-size-2xl);
	font-style: italic;
}
